@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

.hidden{
    display: none;
}

.container{
    background-color: rgb(186, 15, 84);
    h1{
        font-size: 3em;
        font-weight: bold;
        color: bisque;
    }
}
input::active{
border: blue;
}

$color_1: #9CC4B9;
$background-color_1: #F6F3EC;
$border-bottom-color_1: #FF91B2;

/* section one */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
    font-family: 'Comfortaa', sans-serif;
}
.mySection{
    margin-top: 100px;
}
section{


    h2{
        font-size: 2.5em;
        font-weight: bold;
        text-align: center;
    }
    p{
        text-align: center;
    }

}
div{
    h2{
        font-size: 30px;
        font-weight: bold;
        text-align: start;
    }

}
h3{
    font-size: 25px;
    font-weight: 600;
}





.container_header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 40px 60px 0 60px;

    .header_text {
        display: flex;
        flex-direction: column;
        gap: 30px;
        // width: 36vw;
        justify-content: center;
        h1 {
            font-size: 40px;

            font-weight: bold;
        }
        .group_btn {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
        }
    }
    .header_img {
        img {
            width: 30em;
        }
    }


}


.section_one {
	background-color: $background-color_1;
	height: 50vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0px 60px 0 60px;
	.cards_img {
		display: flex;
		flex-direction: column;
		align-items: center;
		.imgBottom {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			gap: 15em;
			margin-top: -52px;
		}
		img {
			width: 200px;
			height: 210px;
			object-fit: cover;
			border-radius: 20px;
		}
		.imgFirst {
			width: 180px;
			height: 245px;
			margin-top: -52px;
		}
	}
	.card_text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-top: -43px;
		// h3 {
		// 	font-size: 22px;
		// 	font-weight: 700;
		// }
		p {
			// font-size: 16px;
			text-align: start;
			padding-top: 14px;
		}
	}
}

.section_two {
	margin-top: 100px;

}

.section_three{
    background-color: rgb(255, 145, 178,0.6);
    overflow: hidden;
}


.active{
        color: #FF91B2;
}

// responsive

@media screen and (max-width: 1040px) {
    .container_header{

        .header_img {
           display: none;
        }
        .header_text{
            width: 70vw;
        }

    }

    .section_one{
        background-image: url('../image/kin-li-N1wX5BJkzlU-unsplash.jpg');
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        .cards_img{
            display: none;
        }
        .card_text{
            h2{
                color: aliceblue;
            }
            p{
                color: aliceblue;
            }
        }
    }
    .section_two{
        .content_two{
            justify-content: center;
            gap: 30px;
        }
    }

    .section_three{
        padding-bottom: 100px;
        .barr{
            top: -19%;
            left: 25%;
            height: 1004px;
        }
        .content_three{
            flex-wrap: wrap;
            flex-direction: column-reverse;

        }
        .barr{
            z-index: -1;
        }
    }

    .section_four{
        .content_four{
            flex-wrap: wrap;
            .text_four{
                padding-left: 60px;
            }
        }
    }


}

@media screen and (max-width: 580px) {

}

