.header{
    .nav_user {
        background: #F6F3EC;
        .containe_responsive{
            display: none;
        }
    }
}

.section_product{
    .btnCategory{
        .active{
            background-color: #FF91B2;
            color: black;
            border-radius: 7px;
            text-decoration: underline;
        }
    }
}

.modal {
    .modal-dialog {
        max-width: 600px;
    }
}






// Product list

@media screen and (max-width: 1040px){

    .nav_user {
        background: transparent;
        .containe_nav_user{
            display: none;
        }
        .containe_responsive{
            display: flex;
            background: #F6F3EC;
            padding-top: 0;
            display: flex;
            height: 80px;
            justify-content: center;
        }
    }

    .nav_user {
        background: transparent;
        .containe_nav_user{
            display: none;
        }
        .containe_responsive{
            display: flex;
        }
    }

    .header_product{
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), #472f368e
        ), url('../image/juan-encalada-_ENQdIjyPcA-unsplash.jpg');
        height: 60vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        padding-left: 20px !important;
        padding-right: 20px !important;
        padding-top: 137px;
        .item_img{
            display: none;
        }
        .item_text{
            h1{
                font-size: 2.1em;
                font-weight: 900;
                color: aliceblue;
            }
            h2{
                font-size: 1.8em;
                font-weight: 900;
            }
            p{
                font-size: 16px;
                color: aliceblue;
                text-align: center;

            }
        }
    }
    .section_link{
        padding: 20px 20px !important;
        div{
            padding: 20px 20px;
        }
    }

}

@media screen and (max-width: 680.99px){
    .section_product{
        .product_list{
            justify-content: center;
        }
    }
}
